@charset "UTF-8";
/*default style*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 16px;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Neucha", cursive; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
a:hover {
  text-decoration: none; }
a:focus {
  color: #f0ece9; }

a[href^="tel"] {
  color: #fff; }

.image {
  position: relative; }

img {
  max-width: 100%;
  height: auto;
  display: inline-block; }

*:focus, *:hover, *.active, *:active, *:visited, button, input, select {
  outline: 0 !important;
  text-decoration: none !important;
}

button, a, .jq-selectbox {
  cursor: pointer; }

section {
  position: relative; }

/*default style*/

.happy-slider {
  overflow: hidden;
}
.slick-arrow {
  border: none;
  background: #fff;
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 40%;
  z-index: 10;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 70px;
  border-radius: 50%;
  width: 70px;
}
.slick-arrow:hover.slick-prev::after {
  -webkit-transform: translate(-15px, 0);
  -ms-transform: translate(-15px, 0);
  transform: translate(-15px, 0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}
.slick-arrow:hover.slick-next::after {
  -webkit-transform: translate(15px, 0);
  -ms-transform: translate(15px, 0);
  transform: translate(15px, 0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}
.slick-arrow::after {
  content: '';
  width: 100px;
  height: 70px;
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}
.slick-arrow.slick-prev {
  left: 14%; }
.slick-arrow.slick-prev::after {
  background: url("../images/arrow_left.png") no-repeat right center;
  left: 0; }
.slick-arrow.slick-next {
  right: 14%; }
.slick-arrow.slick-next::after {
  background: url("../images/arrow_right.png") no-repeat left center;
  right: 0; }
.hs-item {
  position: relative;
  padding: 34px;
  text-align: center; }
.hs-item .image {
  border: 4px dotted rgba(255,255,255,0.7);
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 46px;
}
.hs-item .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 10px; }
.hs-item .img-holder{
  display: block;
  height: 450px;
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  border: 12px solid #9e33b5;
}
.hs-item .image:after{
  content: '';
  position: absolute;
  border-radius: 20px;
  border: 1px solid #9e33b5;
  top: -12px;
  left: -12px;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hs-item .image:before{
  content: '';
  position: absolute;
  border-radius: 20px;
  border: 1px solid #fff;
  bottom: -10px;
  right: -12px;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hs-descr.subtitle{
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.happy-slider .slick-dots {
  bottom: 0;
}
.cloud {
  width: 211px;
  height: 257px;
  position: absolute;
  background: url("../images/paralax_1.png") no-repeat center;
  background-size: contain;
  z-index: 100; }

.plain {
  width: 132px;
  height: 225px;
  position: absolute;
  background: url("../images/paralax_2.png") no-repeat center;
  background-size: contain;
  z-index: 100; }

.cloud-1 {
  left: 170px;
  top: 0; }

.cloud-2 {
  right: 60px;
  bottom: 50px; }
.benefits .cloud-2 {
  left: 30px;
  bottom: 100px; }
.cloud-3 {
  right: -50px;
  top: 70px; }

.plain-1 {
  top: 30px;
  left: 60px; }

.plain-2 {
  right: 0px;
  bottom: 10px; }
