$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-black-screen: "\e900";
$icon-cancel: "\e908";
$icon-circular-shape-silhouette: "\e909";
$icon-contact: "\e90a";
$icon-delivery-truck: "\e90b";
$icon-down-chevron-2: "\e90c";
$icon-down-chevron: "\e90f";
$icon-employee: "\e910";
$icon-feedback: "\e91c";
$icon-gear-1: "\e91e";
$icon-gear: "\e91f";
$icon-list-menu: "\e920";
$icon-medal: "\e921";
$icon-menu: "\e922";
$icon-next: "\e923";
$icon-operator-avatar: "\e924";
$icon-order: "\e925";
$icon-pencil: "\e926";
$icon-phone-call: "\e927";
$icon-pin: "\e928";
$icon-right-arrow: "\e929";
$icon-right-arrow-angle: "\e92a";
$icon-right-chevron: "\e92b";
$icon-rounded-corners-square: "\e92c";
$icon-search1: "\e92d";
$icon-shopping-cart: "\e92e";
$icon-survey: "\e92f";
$icon-fb-path1: "\e930";
$icon-fb-path2: "\e931";
$icon-inst-path1: "\e932";
$icon-inst-path2: "\e933";
$icon-inst-path3: "\e934";
$icon-inst-path4: "\e935";
$icon-ok-path1: "\e936";
$icon-ok-path2: "\e937";
$icon-vk1-path1: "\e938";
$icon-vk1-path2: "\e939";
$icon-yt-path1: "\e93a";
$icon-yt-path2: "\e93b";
$icon-asterisk: "\f069";
$icon-plus: "\f067";
$icon-question: "\f128";
$icon-minus: "\f068";
$icon-music: "\f001";
$icon-search2: "\f002";
$icon-envelope-o: "\f003";
$icon-heart: "\f004";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-check: "\f00c";
$icon-close1: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-search-plus: "\f00e";
$icon-search-minus: "\f010";
$icon-power-off: "\f011";
$icon-cog: "\f013";
$icon-gear1: "\f013";
$icon-trash-o: "\f014";
$icon-home: "\f015";
$icon-bookmark1: "\f02e";
$icon-edit: "\f044";
$icon-pencil-square-o: "\f044";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-question-circle: "\f059";
$icon-info-circle: "\f05a";
$icon-times-circle-o: "\f05c";
$icon-check-circle-o: "\f05d";
$icon-arrow-left1: "\f060";
$icon-arrow-right1: "\f061";
$icon-arrow-up1: "\f062";
$icon-arrow-down1: "\f063";
$icon-eye: "\f06e";
$icon-shopping-cart1: "\f07a";
$icon-folder: "\f07b";
$icon-folder-open: "\f07c";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-camera-retro: "\f083";
$icon-cogs: "\f085";
$icon-gears: "\f085";
$icon-comments: "\f086";
$icon-thumbs-o-up: "\f087";
$icon-thumbs-o-down: "\f088";
$icon-heart-o: "\f08a";
$icon-linkedin-square: "\f08c";
$icon-github-square: "\f092";
$icon-phone: "\f095";
$icon-square-o: "\f096";
$icon-bookmark-o: "\f097";
$icon-phone-square: "\f098";
$icon-twitter1: "\f099";
$icon-facebook1: "\f09a";
$icon-facebook-f: "\f09a";
$icon-github: "\f09b";
$icon-hand-o-right: "\f0a4";
$icon-hand-o-left: "\f0a5";
$icon-hand-o-up: "\f0a6";
$icon-hand-o-down: "\f0a7";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-angle-double-up: "\f102";
$icon-angle-double-down: "\f103";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-quote-left: "\f10d";
$icon-quote-right: "\f10e";
$icon-spinner: "\f110";
$icon-github-alt: "\f113";
$icon-info: "\f129";
$icon-ticket: "\f145";
$icon-eur: "\f153";
$icon-euro: "\f153";
$icon-gbp: "\f154";
$icon-dollar: "\f155";
$icon-usd: "\f155";
$icon-rouble: "\f158";
$icon-rub: "\f158";
$icon-ruble: "\f158";
$icon-thumbs-up: "\f164";
$icon-thumbs-down: "\f165";
$icon-youtube-square: "\f166";
$icon-youtube: "\f167";
$icon-git: "\f1d3";
$icon-paper-plane: "\f1d8";
$icon-send: "\f1d8";
$icon-paper-plane-o: "\f1d9";
$icon-send-o: "\f1d9";
$icon-share-alt: "\f1e0";
$icon-share-alt-square: "\f1e1";
$icon-odnoklassniki1: "\f263";
$icon-wikipedia-w: "\f266";
$icon-safari: "\f267";
$icon-chrome: "\f268";
$icon-firefox: "\f269";
$icon-opera: "\f26a";
$icon-internet-explorer: "\f26b";
$icon-amazon: "\f270";
$icon-edge: "\f282";
$icon-credit-card-alt: "\f283";
$icon-pause-circle: "\f28b";
$icon-pause-circle-o: "\f28c";
$icon-stop-circle: "\f28d";
$icon-stop-circle-o: "\f28e";
$icon-shopping-basket: "\f291";
$icon-percent: "\f295";
$icon-gitlab: "\f296";
$icon-envelope-open: "\f2b6";
$icon-envelope-open-o: "\f2b7";
$icon-address-book: "\f2b9";
$icon-address-book-o: "\f2ba";
$icon-address-card: "\f2bb";
$icon-vcard: "\f2bb";
$icon-address-card-o: "\f2bc";
$icon-vcard-o: "\f2bc";
$icon-user-circle: "\f2bd";
$icon-user-circle-o: "\f2be";
$icon-telegram1: "\f2c6";
$icon-camera1: "\e012";
$icon-gift: "\e017";
$icon-edit1: "\e01c";
$icon-puzzle: "\e026";
$icon-basket: "\e027";
$icon-envelope: "\e028";
$icon-gears1: "\e02b";
$icon-key1: "\e02c";
$icon-paperclip: "\e02d";
$icon-attachment: "\e02e";
$icon-pricetags: "\e02f";
$icon-profile-male: "\e040";
$icon-profile-female: "\e041";
$icon-bike: "\e042";
$icon-wine: "\e043";
$icon-map-pin: "\e047";
$icon-global: "\e052";
$icon-refresh: "\e05a";
$icon-facebook2: "\e05d";
$icon-twitter3: "\e05e";
$icon-googleplus: "\e05f";
$icon-rss: "\e060";
$icon-tumblr: "\e061";
$icon-linkedin1: "\e062";
$icon-dribbble: "\e063";
$icon-home1: "\e93c";
$icon-home3: "\e93d";
$icon-office: "\e93e";
$icon-pencil2: "\e93f";
$icon-camera: "\e940";
$icon-headphones: "\e941";
$icon-music1: "\e942";
$icon-play1: "\e943";
$icon-cart: "\e944";
$icon-phone1: "\e945";
$icon-phone-hang-up: "\e946";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-spinner1: "\e97a";
$icon-spinner2: "\e97b";
$icon-spinner3: "\e97c";
$icon-spinner4: "\e97d";
$icon-spinner5: "\e97e";
$icon-spinner6: "\e97f";
$icon-spinner7: "\e980";
$icon-spinner8: "\e981";
$icon-spinner9: "\e982";
$icon-spinner10: "\e983";
$icon-search3: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-key: "\e98d";
$icon-key2: "\e98e";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-heart1: "\e9da";
$icon-heart-broken: "\e9db";
$icon-plus1: "\ea0a";
$icon-minus1: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-share2: "\ea82";
$icon-mail: "\ea83";
$icon-mail2: "\ea84";
$icon-mail3: "\ea85";
$icon-mail4: "\ea86";
$icon-google2: "\ea89";
$icon-google-plus2: "\ea8c";
$icon-google-plus3: "\ea8d";
$icon-twitter2: "\ea96";
$icon-vk2: "\ea98";
$icon-youtube2: "\ea9e";
$icon-blogger2: "\eab8";
$icon-tumblr2: "\eaba";
$icon-appleinc: "\eabe";
$icon-finder: "\eabf";
$icon-android: "\eac0";
$icon-windows: "\eac1";
$icon-skype: "\eac5";
$icon-linkedin: "\eac9";
$icon-pinterest: "\ead1";
$icon-pinterest2: "\ead2";
$icon-paypal: "\ead8";
$icon-chrome1: "\ead9";
$icon-firefox1: "\eada";
$icon-IE: "\eadb";
$icon-edge1: "\eadc";
$icon-safari1: "\eadd";
$icon-opera1: "\eade";
$icon-html-five: "\eae4";
$icon-html-five2: "\eae5";
$icon-css3: "\eae6";
$icon-git1: "\eae7";
$icon-codepen: "\eae8";
$icon-svg: "\eae9";
$icon-IcoMoon: "\eaea";
$icon-bookmark: "\e91d";
$icon-help: "\e90d";
$icon-arrow-link-down: "\e919";
$icon-arrow-link-left: "\e91a";
$icon-arrow-link-up: "\e91b";
$icon-play: "\e916";
$icon-arrow-down: "\e917";
$icon-arrow-up: "\e918";
$icon-vk: "\e911";
$icon-twitter: "\e912";
$icon-telegram: "\e913";
$icon-odnoklassniki: "\e914";
$icon-facebook: "\e915";
$icon-double-top: "\e90e";
$icon-search: "\e907";
$icon-arrow-link-right: "\e906";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-close: "\e903";
$icon-down: "\e904";
$icon-up: "\e905";

